{% extends 'base.html.twig' %}

{% block title %}Socios{% endblock %}

{% block body %}
  {% if socios %}
    <table id="socios" class="table table-striped">
      <thead>
        <tr>
          <th>Nome do Sócio</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for socio in socios %}
          <tr>
            <td>{{ socio.nome }}</td>
            <td>
              <a href="/socio/{{ socio.id }}" class="btn btn-dark">Show</a>
              <a href="/socio/edit/{{ socio.id }}" class="btn btn-light">Edit</a>
              <a href="#" class="btn btn-danger delete-socio" data-id="{{ socio.id }}">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Sem sócios cadastrados</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}