{% extends 'base.html.twig' %}

{% block title %}Quadro de Empresas{% endblock %}

{% block body %}
  {% if empresas %}
    <table id="empresas" class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for empresa in empresas %}
          <tr>
            <td>{{ empresa.nome }}</td>
            <td>
              <a href="/empresa/{{ empresa.id }}" class="btn btn-dark">Show</a>
              <a href="/empresa/edit/{{ empresa.id }}" class="btn btn-light">Editar</a>
              <a href="#" class="btn btn-danger delete-empresa" data-id="{{ empresa.id }}">Deletar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Sem Empresas cadastradas</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}