{% extends 'base.html.twig' %}

{% block title %}{{ empresa.nome }}{% endblock %}

{% block body %}
 <h1>{{ empresa.nome }}</h1>
 <p>{{ empresa.telefone }}</p>
 <hr>
 <a href="/">Voltar</a>
{% endblock %}